{% extends 'templates/app.twig' %}

{% block content %}
<!-- <div ng-controller="SimplePaginationCtrl"> -->
	
	<div class="ui container" >
		<button class="ui inverted green button" id="new-survey"><i class="plus icon"></i>NEW SURVEY</button>
		<!-- <label for="">Busca: <input type="text" ng-model="searchPoll" placeholder="Pesquisar"></label> -->
		
		<!-- <div class="ui styled fluid accordion" ng-repeat="survey in allsurvey | filter: searchPoll">
			<div class="title">
				<span class="trigger accordion-adm" id="accordion{[{ survey.id }]}">
					<i class="dropdown icon"></i> {[{ survey.poll }]} - <span class="ui right floated" style="color: green">OPEN</span>
				</span>
				<div class="ui right floated icon mini buttons">
					<button class="ui yellow button edit-survey"><i class="write icon"></i> Editar</button>
					<button class="ui red button"><i class="trash outline icon"></i> Excluir</button>
				</div>
			</div>
			<div class="content">
				<p class="transition hidden description">Description: {[{ survey.description }]}</p>
				<div class="timeelinee"></div>
		    </div>
		</div>

		<ul>
            <li>
                <a href="" ng-click="paginate.prev()"><span aria-hidden="true">Anterior</span></a>
            </li>
            <li>
                <a href="" ng-click="paginate.next()"><span aria-hidden="true">Próximo</span></a>
            </li>
        </ul> -->

		<div class="ui styled fluid accordion">
			{% for key, value in _context %}
				{% if value.poll != '' %}
					<div class="title">
						<span class="trigger accordion-adm" id="accordion{{ value.id }}">
							<i class="dropdown icon"></i> {{ value.poll }} - {% if value.poll != '' and ( value.dta_start <= ("now" | date("Y-m-d")) and value.dta_finish >= ("now" | date("Y-m-d")) ) %} <span class="ui right floated" style="color: green">OPEN {% else %} <span class="ui right floated" style="color: red">CLOSE {% endif %} </span>
						</span>
						<div class="ui right floated icon mini buttons">
							<button class="ui yellow button edit-survey" id="edit{{ value.id }}"><i class="write icon"></i> Editar</button>
							<button class="ui red button del-survey" id="delete{{ value.id }}" data-poll="{{ value.poll }}"><i class="trash outline icon"></i> Excluir</button>
						</div>
					</div>
					<div class="content" id="to-pdf">
						<div class="ui horizontal segments">
							{% if value.poll != '' and ( value.dta_start <= ("now" | date("Y-m-d")) and value.dta_finish >= ("now" | date("Y-m-d")) ) %}<div class="ui tertiary inverted green segment">{% else %}<div class="ui tertiary inverted red segment">{% endif %}
								<p class="transition description">Description: {{ value.description }}</p>
							</div>
							{% if value.poll != '' and ( value.dta_start <= ("now" | date("Y-m-d")) and value.dta_finish >= ("now" | date("Y-m-d")) ) %}<div class="ui tertiary inverted green segment">{% else %}<div class="ui tertiary inverted red segment">{% endif %}
								<span>Save as:    </span>
								<form action="{{ path_for('exp-excel') }}">
									<input type="hidden" name="excel" value="excel{{value.id }}">
									<button class="circular ui icon button exp-excel" type="submit" id="excel{{ value.id }}"><i class="file excel outline icon"></i> Excel</button>
								</form>
								<button class="circular ui icon button exp-pdf" id="pdf{{ value.id }}"><i class="file pdf outline icon"></i> PDF</button>
							</div>
						</div>
						<div class="timeelinee"></div>
				    </div>
				{% endif %}
			{% endfor %}
		</div>
	</div>
<!-- </div> -->


	{% include 'templates/partials/basicmodal.twig' %}

{% endblock %}