{% extends 'templates/app.twig' %}

{% block content %}
	<div class="ui container">
		<div class="ui stackable equal width grid">
			{% set count = 0 %}
			{% for key, value in _context %}
				{% if value.poll != '' and ( value.dta_start <= ("now" | date("Y-m-d")) and value.dta_finish >= ("now" | date("Y-m-d")) ) %}
					<div class="one column row one-column-custom">
						<div class="column">
							<div class="ui card" id="{{ value.id }}">
								<div class="ui basic segment">
								  <a class="image" href="#">
								    <img src="{{ value.img }}" class="cardsurvey">
								  </a>
								  <div class="content">
								    <a class="header" href="#">{{ value.poll }}</a>
								    <div class="meta">
								      <a>{{ value.description }}</a>
								    </div>
								  </div>
								  <div class="extra content">
								  	<hr style="color: #cecece">
								    <div class="ui left aligned" style="position: absolute;">
								    <i class="star icon"></i> {{ value.dta_start | date("d/m/Y") }}
								    </div>
								    <div class="ui right aligned" style="position: relative; display: block;">
								    	<i class="delete icon"></i> {{ value.dta_finish | date("d/m/Y") }}
								    </div>
								  </div>
								</div>
							</div>
					    </div>
					</div>
					{% set count = count + 1 %}
				{% endif %}
			{% endfor %}
			{% if count == 0 %}
				<div class="message-box-50">	
					<div class="ui yellow message">
					  <div class="header">"O céu está limpo... nenhuma estrela pode ser vista durante o dia"</div>
					  <ul class="list">
					    <li>Nenhuma enquete criada.</li>
					  </ul>
					</div>
				</div>
			{% endif %}
		</div>
	</div>

	
	<!-- <div class="ui container">
		<div class="ui link cards">
			{% for key, value in _context %}
				{% if value.poll != '' %}
					<div class="card" id="{{ value.id }}">
						<div class="image">
							<img src="http://www.noticiasdematogrosso.com.br/wp-content/uploads/2015/04/ENQUETE.jpg">
						</div>
						<div class="content">
							<div class="header">{{ value.poll }}</div>
							<div class="description">Uma breve descrição de uma enquete <aqui class=""></aqui></div>
						</div>
					</div>
				{% endif %}
			{% endfor %}
		</div>
	</div> -->
	



	{% include 'templates/partials/poll.twig' %}

{% endblock %}