<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
	<title>Survey-Slim</title>
	<link rel="stylesheet" href="{{ base_url() }}/css/semantic.min.css" media="screen,projection"/>
    <link rel="stylesheet" href="{{ base_url() }}/css/main.css" media="screen,projection"/>
    <link rel="stylesheet" href="{{ base_url() }}/css/icon.min.css" />
</head>

<!-- Iniciando minha aplicacao com ng-app -->
<body>
    
    <!-- side bar mobile -->
    {% if auth.check %}
        <div class="ui left sidebar inverted vertical menu">
          <li class="item welcome-menu">Bem vindo {{ auth.user.name }}</li>
          <a class="item" href="{{ path_for('home') }}">Home</a>
          {% if auth.user.id_level_user == 2 %}<a class="item" href="{{ path_for('adm') }}"><i class="pie chart icon"></i> Adm</a>{% endif %}
          <a class="item">Edit Profile</a>
          <a class="item">Choose Language</a>
          <a class="item" href="{{ path_for('auth.password.change') }}" >Account Settings</a>
          <a class="ui item" href="{{ path_for('auth.signout') }}">Sair </a>
        </div>
    {% else %}
        <div class="ui left sidebar inverted vertical menu">
          <a class="item" href="{{ path_for('home') }}">Home</a>
          <a class="item" href="#goabout">About</a>
          <a class="item" href="#gosignin">Login</a>
          <a class="item" href="#gosignup">Sign Up</a>
        </div>
    {% endif %}
    <!-- contend -->
    <div class="pusher">
        <!-- navbar - home -->
        {% include 'templates/partials/navigation.twig' %}
        
        {% include 'templates/partials/flash.twig' %}
        <!-- conteudos page -->
        {% block content %}{% endblock %}
        <!-- footer -->
        <footer class="ui center aligned basic segment">
            <div class="ui container">
              <div class="ui stackable equal width grid">
                <div class="column">
                    <img class="footerlogo" src="{{ base_url() }}/img/surveylogobranco.png" alt="Survey"> BETA
                </div>
                <div class="column">
                  <p>Survey - 2016 - Sistema de enquete</p>
                </div>
              </div>
            </div>
        </footer>

        <!-- {[{ Title.titulo }]}
        <label for="">Busca: <input type="text" ng-model="searchUser" placeholder="Pesquisar"></label>
        <div data-ng-repeat="user in Title.users | orderBy:'name' | filter:searchUser">
            <span data-ng-repeat="info in user">
                {[{ info }]}
            </span>
        </div>
        <div ng-controller="HelloWorld as Hello"> {[{ Hello.message }]} </div> -->

    </div>

	<script src="{{ base_url() }}/js/jquery-2.2.3.min.js"></script>
    <!-- <script src="{{ base_url() }}/js/angular.min.js"></script>   -->
    <script src="{{ base_url() }}/js/semantic.min.js"></script>     
    <script src="{{ base_url() }}/js/star-rating.min.js"></script>  
    <!-- <script src="{{ base_url() }}/js/pagination.js"></script>    -->
    <script src="{{ base_url() }}/js/changepoll.js"></script>   
    <!-- <script src="{{ base_url() }}/js/jspdf.min.js"></script>    -->
    <!-- <script src="{{ base_url() }}/js/adler32cs.js"></script>    -->
    <!-- <script src="{{ base_url() }}/js/html2canvas.js"></script>    -->
    
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.1.135/jspdf.min.js"></script>
    <script type="text/javascript" src="http://cdn.uriit.ru/jsPDF/libs/adler32cs.js/adler32cs.js"></script>
    <!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2014-11-29/FileSaver.min.js"></script> -->
    <!-- <script type="text/javascript" src="http://cdn.immex1.com/js/jspdf/plugins/jspdf.plugin.addimage.js"></script> -->
    <!-- <script type="text/javascript" src="http://cdn.immex1.com/js/jspdf/plugins/jspdf.plugin.standard_fonts_metrics.js"></script> -->
    <!-- <script type="text/javascript" src="http://cdn.immex1.com/js/jspdf/plugins/jspdf.plugin.split_text_to_size.js"></script> -->
    <!-- <script type="text/javascript" src="http://cdn.immex1.com/js/jspdf/plugins/jspdf.plugin.from_html.js"></script> -->
    <script src="https://rawgit.com/niklasvh/html2canvas/master/dist/html2canvas.js"></script>
<!-- <script src="https://cdn.rawgit.com/MrRio/jsPDF/master/dist/jspdf.min.js"></script> -->
<!-- <script src="https://rawgit.com/niklasvh/html2canvas/master/dist/html2canvas.js"></script> -->

<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.js"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.0.272/jspdf.debug.js"></script>

	<script>
    /**********************************************
    ******************** Theme - design
    */
    // alert(Date());
    $('.ui.dropdown').dropdown();
    $('.ui.sidebar').sidebar('attach events', '.toc.item');
    // active accordion
    $('.ui.accordion').accordion({
        selector:{
            accordion:
                '.accordion',
                title: '.title',
                trigger: '.title .trigger',
                content: '.content',
                exclusive: false
        }
    });
    /**********************************************
    ************* Modulo da aplícacao Angular
    */
        /*angular.module('survey', ['Pagination'])
        .config(function ($interpolateProvider) {
            $interpolateProvider.startSymbol('{[{').endSymbol('}]}');
        })
        .controller('TitleController', TitleController)
        .controller('HelloWorld', HelloWorld)
        .controller('ListSurvey', ListSurvey)
        .controller('SimplePaginationCtrl', SimplePaginationCtrl);
        function TitleController() {
            var vm = this;
            vm.titulo = "Teste controller em Angular.js";
            vm.users = [
                {name: 'Ygo', email: 'ygo@email.com'},
                {name: 'Noe', email: 'noe@email.com'}
            ];
        }
        function HelloWorld() {
            var vm = this;
            vm.message = "HelloWorld";
        }
        function ListSurvey($scope, $http) {
            $http.get('http://localhost/survey/public/adm/enquete').success(function(data) {
                // var vm = this;
                $scope.allsurvey = data;
                console.log($scope.allsurvey);
            })
        }
        function SimplePaginationCtrl($scope, $http, SimplePaginate) {
            var success = function(response) {
                //aqui vamos configurar a paginação
                //o SimplePaginate que injetei será o service responsável por isso
                SeverPaginate.configure({
                    data: response.data.data,
                    next: response.data.paging.next,
                    prev: response.data.paging.previous,
                    total: response.data.summary.total_count,
                    goToPage: goToPage
                });
                $scope.paginate = SeverPaginate.getData();
            }
            var goToPage =  function (url) {
                $http.get(url).then(success);
            }
            $goToPage('http://localhost/survey/public/adm/enquete');
        }*/
        
    /* paginação */
    // (function(){
    //     'use strict';
    //     var module = angular.module('app', ['Pagination']);
    //     module.controller('SimplePaginationCtrl', function($scope, $http, SimplePaginate) {
    //         var success = function(response) {
    //             //aqui vamos configurar a paginação
    //             //o SimplePaginate que injetei será o service responsável por isso
    //             SimplePaginate.configure({
    //                 data:response.data.data,
    //                 perPage: 10
    //             });
    //             $scope.paginate = {
    //                 result : SimplePaginate.goToPage(0),
    //                 total : SimplePaginate.itemsTotal(),
    //                 next : function() {
    //                     $scope.paginate.result = SimplePaginate.next();
    //                 },
    //                 prev : function() {
    //                     $scope.paginate.result = SimplePaginate.prev();
    //                 }
    //             };
    //         }
    //         $http.get('http://localhost/survey/public/adm/enquete').then(success);
    //     });
    // })()
        // $(document).ready(function() {
        //     $('.ui.form').form({
        //         fields: {
        //             name: {
        //                 identifier  : 'name',
        //                 rules: [{
        //                     type   : 'empty',
        //                     prompt : 'Please enter your name'
        //                 }]
        //             },
        //             email: {
        //                 identifier  : 'email',
        //                 rules: [{
        //                     type   : 'empty',
        //                     prompt : 'Please enter your e-mail'
        //                 }, {
        //                     type   : 'email',
        //                     prompt : 'Please enter a valid e-mail'
        //                 }]
        //             },
        //             password: {
        //                 identifier  : 'password',
        //                 rules: [{
        //                     type   : 'empty',
        //                     prompt : 'Please enter your password'
        //                 }, {
        //                     type   : 'length[6]',
        //                     prompt : 'Your password must be at least 6 characters'
        //                 }]
        //             }
        //         }
        //     });
        // });
/*****************************************************
************* Modal Poll and send AJAX - survey
*/
    // fechamento das mensagens de alertas
    $('.message .close').on('click', function() {
        $(this).closest('.message').transition('fade');
    });
        
    var idenquete;    
    var idpergunta;    
    var data;
    // var pointStar = [];
    var pointStar;
    var qtdperguntas;    
    $('.card').click(function(e) {
        // capturando id do card poll
        idenquete = $(this).attr('id');
        // ajax - buscar perguntas
        $.ajax({
            url: 'poll/pollquestions',
            type: 'GET',
            dataType: 'html',
            data: {idenquete: idenquete},
        })
        .done(function(data) {
            console.log(data);
            // limpa html
            $('#perguntas').html('');
            // percorre perguntas em Json
            var obj = jQuery.parseJSON(data); 
            $.each(obj, function(index, el) {
                console.log(el.answers);
                $('#perguntas').append('<div class="thirteen wide column"><h4>'+el.question+'</h4></div><div class="five wide column stars"><div class="stars-default" id="p'+el.id+'" data-rating="'+el.answers+'"><input type="hidden" class="ui submit" name="rating" id="ratingp'+el.id+'"/></div></div>');
            });
            // pega tags input que contem as perguntas/questoes
            qtdperguntas = document.getElementById('perguntas').getElementsByTagName('input');
            // ferifica quantidade de perguntas
            qtdperguntas = qtdperguntas.length;
            // exibe cinco estrelas para cada pergunta
            $(".stars-default").rating(
                'create',{
                    coloron:'gold',
                    onClick:function(e){ 
                        idpergunta = $(this).attr('id');
                        // for (var i = 0; i < qtdperguntas; i++) {
                            // 'ratingp' porque o idpergunta inclui um 'p' antes da numeracao
                            pointStar = $('#rating'+idpergunta).val();
                            // alert(pointStar);
                        // }
                        $.ajax({
                            url: 'poll/pollanswers',
                            type: 'GET',
                            dataType: 'html',
                            data: {idenquete: idenquete, valor: pointStar, qtdperguntas: qtdperguntas, idpergunta: idpergunta}
                        })
                        .done(function(data) {
                            console.log(data);
                        })
                        .fail(function() {
                            console.log("error");
                        })
                    }
                }
            );
            // exibe modal
            $('.ui.modal').modal('setting', 'closable', false).modal('show');
        })
        .fail(function() {
            alert('Desculpe, houve um erro ao exibir a enquete.');
        }); 
    });
    $('.finalizar').click(function(event) {
        alert('Obrigado pelo seu voto!');
    }); 
/*******************************************************
********************* Bootstrap star rating - aptado para Semantic-ui 
*/
//the $(document).ready() function is down at the bottom
(function ( $ ) {
 
    $.fn.rating = function( method, options ) {
        method = method || 'create';
        // This is the easiest way to have default options.
        var settings = $.extend({
            // These are the defaults.
            limit: 5,
            value: 0,
            glyph: "large star icon", // name icon
            coloroff: "gray",
            coloron: "yellow",
            //size: "2.0em",
            cursor: "pointer", // pointer
            onClick: function () {},
            endofarray: "idontmatter"
        }, options );
        var style = "";
        //style = style + "font-size:" + settings.size + "; ";
        style = style + "color:" + settings.coloroff + "; ";
        style = style + "cursor:" + settings.cursor + "; ";
    
        
        if (method == 'create')
        {
            //this.html('');    //junk whatever was there
            
            //initialize the data-rating property
            this.each(function(){
                attr = $(this).attr('data-rating');
                if (attr === undefined || attr === false) { $(this).attr('data-rating',settings.value); }
            })
            
            //bolt in the glyphs
            for (var i = 0; i < settings.limit; i++)
            {
                this.append('<i data-value="' + (i+1) + '" class="ratingicon ' + settings.glyph + '" id="star"'+i+'" style="' + style + '" aria-hidden="true"></i>');
            }
            
            //paint
            this.each(function() { paint($(this)); });
        }
        if (method == 'set')
        {
            this.attr('data-rating',options);
            this.each(function() { paint($(this)); });
        }
        if (method == 'get')
        {
            return this.attr('data-rating');
        }
        //register the click events
        this.find("i.ratingicon").click(function() {
            rating = $(this).attr('data-value')
            $(this).parent().attr('data-rating',rating);
            paint($(this).parent());
            settings.onClick.call( $(this).parent() );
        })
        function paint(div)
        {
            rating = parseInt(div.attr('data-rating'));
            div.find("input").val(rating);  //if there is an input in the div lets set it's value
            div.find("i.ratingicon").each(function(){    //now paint the stars
                
                var rating = parseInt($(this).parent().attr('data-rating'));
                var value = parseInt($(this).attr('data-value'));
                if (value > rating) { $(this).css('color',settings.coloroff); }
                else { $(this).css('color',settings.coloron); }
            })
        }
    };
 
}( jQuery ));
/*****************************************************
***************** Área administrativa
*/
/* Busca cálculo da accordion-adm */
$('.accordion-adm').click(function(event) {
    var idaccordion = $(this).attr('id');
    $.ajax({
        url: 'adm/pollaccordion',
        type: 'GET',
        dataType: 'html',
        data: {idaccordion: idaccordion},
    })
    .done(function(data) {
        console.log(data);
        var obj = jQuery.parseJSON(data); 
        $('.timeelinee').html('');
        $.each(obj, function(index, val) {
            $('.timeelinee').append('<h4 style="margin-left: 30px;" class="questaccordion" id="questaccordion'+val.id+'">'+val.question+'</h4><div class="linepct'+val.id+'"></div>');
            // resgatando id da pergunta 
            // var questaccordion = val.id;
            $.ajax({
                url: 'adm/pollaccordion/linepct',
                type: 'GET',
                dataType: 'html',
                data: {idquestion: val.id, idaccordion: idaccordion},
            })
            .done(function(data) {
                var obj = jQuery.parseJSON(data);
                console.log(obj); 
                $('.linepct'+val.id).append('<ul class="timeline" id="timeline"><li><div class="direction-r"><div class="desc">Ótimo!</div><div class="flag-wrapper"><span class="flag pctstar4">'+(Math.round(obj[4] * 100) /100)+' %</span><span class="time-wrapper"><span class="time">5 <i class="yellow star icon"></i></span></span></div></div></li><li><div class="direction-r"><div class="desc">Bom</div><div class="flag-wrapper"><span class="flag pctstar3">'+(Math.round(obj[3] * 100) /100)+' %</span><span class="time-wrapper"><span class="time">4 <i class="yellow star icon"></i></span></span></div></div></li><li><div class="direction-r"><div class="desc">Regular</div><div class="flag-wrapper"><span class="flag pctstar2">'+(Math.round(obj[2] * 100) /100)+' %</span><span class="time-wrapper"><span class="time">3 <i class="yellow star icon"></i></span></span></div></div></li><li><div class="direction-r"><div class="desc">Ruim</div><div class="flag-wrapper"><span class="flag pctstar1">'+(Math.round(obj[1] * 100) /100)+' %</span><span class="time-wrapper"><span class="time">2 <i class="yellow star icon"></i></span></span></div></div></li><li><div class="direction-r"><div class="desc">Péssimo!!!</div><div class="flag-wrapper"><span class="flag pctstar0">'+(Math.round(obj[0] * 100) /100)+' %</span><span class="time-wrapper"><span class="time">1 <i class="yellow star icon"></i></span></span></div></div></li></ul>');
            })
            .fail(function() {
                console.log("Houve um error ao calcular a porcentagem!");
            });
        });
    })
    .fail(function() {
        alert("Não foi possível exibir as questões da enquete.");
    });
});
var auxquestion;
/* New survey */
$('#new-survey').click(function(event) {
    auxquestion = 1;
    // exibindo data inicial
    var now = new Date();
    var day = ("0" + now.getDate()).slice(-2);
    var month = ("0" + (now.getMonth() + 1)).slice(-2);
    var today = now.getFullYear()+"-"+(month)+"-"+(day);
    // new survey 
    $('.generate-modal-header').html('New survey');
    $('#generate-modal-content').html('<div class="two fields"><div class="required field"><label for="poll">Nome</label><input type="text" id="poll" name="poll" placeholder="Minha enquete fofa"/></div><div class="field"><label for="dirimg">Diretório da imagem</label><input type="text" id="dirimg" name="dirimg" value="img/cardsurvey.jpg" placeholder="img/cardsurvey.png"/></div></div><label for="description">Descrição</label><textarea name="description" id="description" rows="2" style="margin-top: 0px; margin-bottom: 0px; height: 58px;" placeholder="Desce a letra! =D"></textarea><div class="two fields"><div class="required field"><label for="dta_start">Início</label><input type="date" id="dta_start" name="dta_start" placeholder="yyyy-mm-dd"/></div><div class="required field"><label for="dta_finish">Fim</label><input type="date" id="dta_finish" name="dta_finish" placeholder="yyyy-mm-dd"/></div></div></div><hr/><label><button class="ui circular blue icon button" type="button" name="add"><i class="plus icon"></i></button></label><div class="required field"><label for="question'+auxquestion+'">Question</label><input class="valquestcreate" type="text" name="question'+auxquestion+'" id="question'+auxquestion+'"></div><div id="inputs_adicionais"></div>');
    $('#dta_start').val(today);
    $('.ui.generate.modal').modal('show');
    // adiciona nova questão
    $("button[name='add']").click(function(e){
        auxquestion++;
        $('#inputs_adicionais').append('<label for="question'+auxquestion+'"><input class="valquestcreate" type="text" name="question'+auxquestion+'" id="question'+auxquestion+'"/> <a href="#" class="remove">X</a></label>');
    });
    // remove questão
    $('#inputs_adicionais').delegate('a','click',function(e){
        e.preventDefault();
        auxquestion--;
        $(this).parent('label').remove();
    });
    // validacao
    $('.ui.generate.modal').modal({
        onApprove: function() {
            $('.ui.generate.form').form({
                on: 'blur',
                fields: {
                  poll: {
                    identifier : 'poll',
                    rules: [{
                        type   : 'empty',
                        prompt : 'Por favor insira o nome.'
                    }]
                  },
                  question: {
                    identifier : 'question1',
                    rules: [{
                        type   : 'empty',
                        prompt : 'Por favor insira a questão.'
                    }]
                  },
                  dirimg: {
                    identifier : 'dirimg',
                    rules: [{
                        type   : 'empty',
                        prompt : 'Por favor insira a questão.'
                    }]
                  },
                  dta_start: {
                    identifier : 'dta_start',
                    rules: [{
                        type   : 'empty',
                        prompt : 'Por favor insira a data inicial.'
                    }]
                  },
                  dta_finish: {
                    identifier : 'dta_finish',
                    rules: [{
                        type   : 'empty',
                        prompt : 'Por favor insira a data final.'
                    }]
                  },
                }
            });
            // enviar quantidade de perguntas e valores- ipunts criados
            var valquestcreate = new Array();
            $('.valquestcreate').each(function(index, el) {
                // pecorrendo valores
                valquestcreate.push($(this).val());
            });
            var poll = $('#poll').val();
            var description = $('#description').val();
            var dirimg = $('#dirimg').val();
            var dta_start = $('#dta_start').val();
            var dta_finish = $('#dta_finish').val();
            // enviando para rota de insercao
            $.ajax({
                url: 'adm/newsurvey',
                type: 'GET',
                dataType: 'html',
                data: {'qtdquestcreate': auxquestion, poll: poll, dirimg: dirimg, description: description , 'valquestcreate[]': valquestcreate, dta_start: dta_start, dta_finish: dta_finish},
            })
            .done(function(data) {
                console.log("success"+data);
                location.reload();
                location.reload();
            })
            .fail(function() {
                console.log("error");
            });
            return false;       
        }
    });
});  
/* Edit survey  */
idenquete = '';
$('.edit-survey').click(function(event) {
    idenquete = $(this).attr('id');
    $.ajax({
        url: 'adm/edit',
        type: 'GET',
        dataType: 'json',
        data: {idenquete: idenquete},
    })
    .done(function(data) {
        $('.generate-modal-header').html('Edit survey');
        if (data.return) {
            $('#generate-modal-content').html('<label for="dirimg">Diretório da imagem</label><input type="text" id="dirimg" name="dirimg" value="'+data.img+'"/><label for="description">Descrição</label><textarea name="description" id="description" rows="2" style="margin-top: 0px; margin-bottom: 0px; height: 58px;">'+data.description+'</textarea><div class="required field"><label for="dta_finish">Fim</label><input type="date" id="dta_finish" name="dta_finish" value="'+data.dta_finish+'" placeholder="yyyy-mm-dd"/></div><hr/>');
        }else{
            $('#generate-modal-content').html('<div class="two fields"><div class="required field"><label for="poll">Nome</label><input type="text" id="poll" name="poll" value="'+data.poll+'"/></div><div class="field"><label for="dirimg">Diretório da imagem</label><input type="text" id="dirimg" name="dirimg" value="'+data.img+'"/></div></div><label for="description">Descrição</label><textarea name="description" id="description" rows="2" style="margin-top: 0px; margin-bottom: 0px; height: 58px;">'+data.description+'</textarea><div class="two fields"><div class="required field"><label for="dta_start">Início</label><input type="date" id="dta_start" name="dta_start" value="'+data.dta_start+'" placeholder="yyyy-mm-dd"/></div><div class="required field"><label for="dta_finish">Fim</label><input type="date" id="dta_finish" name="dta_finish" value="'+data.dta_finish+'" placeholder="yyyy-mm-dd"/></div></div></div><hr/>');
            $.each(data.questions, function(index, val) {
                $('#generate-modal-content').append('<div class="required field"><label for="question'+val.id+'">Question</label><input class="valquestedit" type="text" name="question'+val.id+'" id="question'+val.id+'" value="'+val.question+'"></div>');
            });
        }
        $('.ui.generate.modal').modal('show');
    })
    .fail(function() {
        alert("Houve um erro ao editar a enquete");
    });
});
$('#save').click(function(event) {
    // enviar quantidade de perguntas e valores- ipunts criados
    var valquestedit = new Array();
    $('.valquestedit').each(function(index, el) {
        // percorredo id
        valquestedit.push($(this).attr('id'));
        // percorrendo valores
        valquestedit.push($(this).val());
    });
    var poll = $('#poll').val();
    var dirimg = $('#dirimg').val();
    var description = $('#description').val();
    var dta_start = $('#dta_start').val();
    var dta_finish = $('#dta_finish').val();
    $.ajax({
        url: 'adm/edit/save',
        type: 'GET',
        dataType: 'html',
        data: {idenquete: idenquete, poll: poll, dirimg: dirimg, description: description, dta_start: dta_start, dta_finish: dta_finish, 'valquestedit[]': valquestedit},
    })
    .done(function(data) {
        alert(data);
        location.reload();
        location.reload();
    })
    .fail(function(data) {
        alert(data);
    });
});
/* Delete survey */
$('.del-survey').click(function(event) {
    var idenquete = $(this).attr('id');
    var confirma = confirm('Deseja apagar a enquete: \"'+$(this).data('poll')+'\"');
    if (confirma) {
        $.ajax({
            url: 'adm/delete',
            type: 'GET',
            dataType: 'html',
            data: {idenquete: idenquete},
        })
        .done(function() {
            location.reload();
        })
        .fail(function() {
            alert("Houve um erro ao tentar apagar a enquete");
        });
    }
});
/* Exportação para excel */
$('.exp-excel').click(function(event) {
    var idenquete = $(this).attr('id');
    $.ajax({
        url: 'adm/exp-excel',
        type: 'GET',
        dataType: 'html',
        data: {idenquete: idenquete},
    })
    .done(function(data) {
        console.log("success");
    })
    .fail(function() {
        console.log("error");
    });    
});

/* Exportação para pdf */
/*$(function () {
    var specialElementHandlers = {
        '#editor': function (element,renderer) {
            return true;
        }
    };
    var a4 = [ 595.28,  841.89];
    $('.exp-pdf').click(function () {
        var doc = new jsPDF({
                unit:'px', 
                format:'a4'
            });
        doc.fromHTML($('.content.active').html(), 15, 15, {
            'width': 2480, 'elementHandlers': specialElementHandlers
        });
        doc.setFontSize(20);
        // doc.text(15, 100, "5");
        // doc.addImage(imgData, 'JPEG', 20, 7, 10, 10);
        // doc.text(40, 15, "4");
        // doc.addImage(imgData, 'JPEG', 45, 7, 10, 10);
        // doc.text(65, 15, "3");
        // doc.addImage(imgData, 'JPEG', 70, 7, 10, 10);
        // doc.text(90, 15, "2");
        // doc.addImage(imgData, 'JPEG', 95, 7, 10, 10);
        // doc.text(115, 15, "1");
        // doc.addImage(imgData, 'JPEG', 120, 7, 10, 10);
        doc.save('sample-file.pdf');
    });  
});*/

/*$('.exp-pdf').click(function(event) {
    var cache_width = $('.content.active').width(); //Criado um cache do CSS

        // Setar o width da div no formato a4
        $("#renderPDF").width((a4[0]*1.33333) -80).css('max-width','none');

        // Aqui ele cria a imagem e cria o pdf
        html2canvas($('.content.active'), {
          onrendered: function(canvas) {
            var img = canvas.toDataURL("image/png",1.0);  
            var doc = new jsPDF({unit:'px', format:'a4'});
            doc.addImage(img, 'JPEG', 20, 20);
            doc.save('NOME-DO-PDF.pdf');
            //Retorna ao CSS normal
            $('#renderPDF').width(cache_width);
          }
        });
    });
    function getPDF(){
}
*/

// $('.exp-pdf').click(function() {
//     // // var a4  =[ 595.28,  841.89]; // Widht e Height de uma folha a4
//     /*var doc = new jsPDF('p','pt','a4');
//     doc.addHTML($('.content.active'), function() {
//         doc.save("teste.pdf");
//     });*/

//     var pdf = new jsPDF('p','pt','a4');

//     pdf.addHTML($('.content.active'), function() {
//         var string = pdf.output('datauristring');
//         var iframe = document.createElement("iframe");

//         iframe.src = string;
//         document.body.appendChild(iframe);
//         pdf.save('teste.pdf');
//     });
// });

/*(function(){
    var 
     form = $('.form'),
     cache_width = form.width(),
     a4  =[ 595.28,  841.89];  // for a4 size paper width and height
 
    $('.exp-pdf').on('click',function(){
        $('.content.active').scrollTop(0);
        createPDF();
    });
    //create pdf
    function createPDF(){
        getCanvas().then(function(canvas){
            var 
            img = canvas.toDataURL("image/png"),
            doc = new jsPDF({
              unit:'px', 
              format:'a4'
            });     
            doc.addImage(img, 'JPEG', 20, 20);
            doc.save('techumber-html-to-pdf.pdf');
            form.width(cache_width);
        });
    }
    // create canvas object
    function getCanvas(){
        form.width((a4[0]*1.33333) -80).css('max-width','none');
        return html2canvas(form,{
            imageTimeout:2000,
            removeContainer:true
        }); 
    }
 
}());*/
  </script>
</body>

</html>